* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

ul{
    list-style: none;
}

.mainContainer{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.listContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roomButton {
    padding: .5rem;
    margin-block: .25rem;
    font-size: large;
}

.selected {
    background-color: inherit;
    border: none;
    font-weight: 800;
    color: green;
}

.initialPageElement{
    font-size: 2rem;
    margin: .5rem;
    padding: .1rem .4rem;
}

.userAuth {
    position: fixed;
    top: 10px;
    right: 10px;
}

.userAuth > button {
    font-size: 2rem;
    padding: .5rem;
    box-shadow: 0px 0px 5px 0px grey; /* x, y, blur, spread, color */
}

#userFeedbackBar {
    text-align: center;
    color: rgb(112, 12, 12);
}

#canvas{
    /* width: 100vw;
    height: 100vh; */
    background-color: rgb(15, 15, 15);
}