* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

#title{
    text-align: center;
}

#canvas{
    /* width: 100vw;
    height: 100vh; */
    background-color: rgb(15, 15, 15);
}